In [1]:
#result = input("Type something: ")
#print(str(result))

In [2]:
result = input('Type something: ')
print(result)

Type something:  12

12

In [3]:
n=int(input("Enter a number: "))
n = n+1
print(n)
print("You have " + str(n) + " apples")

Enter a number:  12

13
You have 13 apples

In [4]:
x = int(1)
y = int(2.8)
z = int("3")
print(x, y, z)
print(type(x), type(y), type(z))

1 2 3
<class 'int'> <class 'int'> <class 'int'>

In [5]:
a=30
b=23
result=a*b 
print("Result " + str(result))

Result 690

In [6]:
a="*"*2
print(a)

**

In [7]:
a='*'*1
b='* '* 2
c='* '*  3
d='* '*4
print(a)
print( b)
print( c)
print(d)

*
* *
* * *
* * * *

In [8]:
a=10
b=15.0
result=a+b
print(type(result))

<class 'float'>

In [9]:
a=int(input("Enter a number: "))
result=float(a)
print(result)

Enter a number:  12

12.0

#

In [10]:
time_hour = float(input("Enter the time: "))
time_second = float(time_hour) * 3600
print(str(time_hour)+ " hours is "+ str(time_second)+" seconds")

Enter the time:  12

12.0 hours is 43200.0 seconds

In [59]:
def total_numbers=(number1, number2):
    if number1 + number2 < 100:
        return True
    else: 
       return False
result=total_numbers(34, 54)        
print(result)

SyntaxError: expected '(' (3211784371.py, line 1)

In [ ]:
def is_sum_less_than_100(number1, number2):
    if number1 + number2 < 100:
        return True
    else:
        return False

In [ ]:
import math 
radius=15 # in cm
height=2 # in cm
volume= math.pi*(radius**2)*height
print(float(volume))

In [ ]:
def divisible_number(number):
    if number % 3 == 0:
        return True
    else:
        return False
print(divisible_number(11))

In [ ]:
def is_vowel(letter):
    vowel_letter = ["a", "e", "i", "o", "u"]  
    return letter.lower() in vowel_letter
letter = input('Enter a letter: ")

print(letter)

In [ ]:
base =float(input("Enter the base: "))
height =float(input("Enter the height: "))
area = 0.5 * base * height
print(float(area))

In [ ]:
a=3
b=4
c=a**2 + b**2
hypotenuse=math.sqrt(c)
print("The length of the hypotenuse is:", (d))

In [ ]:
import cmath
a=float(input("Enter the value of a: "))
b=float(input("Enter the value of b: "))
c=float(input("Enter the value of c: "))
d = (b ** 2) - (4 * a * c)
soln1 = (-b- cmath.sqrt(d)) / (2*a)
soln2 = (-b+ cmath.sqrt(d)) / (2*a)

print("The solutions are" + str(soln1)+ str(soln2))

In [ ]:
eggs = 6
bacon = 4
sausages =1
food_count = [eggs, bacon, sausages]
print(food_count)
print(len(food_count))

In [ ]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

prime = []
count = 0
number = 1

while count < 5:
    if is_prime(number):
        prime.append(number)
        count += 1
    number += 1

print(prime)

In [ ]:
(2, int(144**0.5)+1)

In [ ]:
numbers = [1, 4, 2, 6, 11, 3, 4]
total = 1
for i in numbers:
    print(i)
    total = total * i

print(total)

In [ ]:
a_tuple = (11,23,3,4,14,234)
min(a_tuple)

In [ ]:
food_counts = {'wgrtyuolkasdfs':6 , 'bacon':1 , 'sausages':4}
max_value = (food_counts.keys())
print(max_value)

In [ ]:
dict1 ={ 'eggs':6 , 'bacon':1 , 'sausages':4}
values = dict1.keys()
#print(values)
#print(type(values))

for i in values:
    print(i)

print(dict1.keys())

In [ ]:
shopping_list = {'apple', 'banana', 'orange', 'milk', 'bread'}
prime_values = [2, 3, 5, 7]

shopping_dict = dict(zip(shopping_list, prime_values))
print(shopping_dict)

In [ ]:
list1 = ['A','B','C','D']
list1[2]

In [ ]:
name = "Girijanath parida"
name2 = name[:10]
name3 = name2.lower()
print(name3)

In [ ]:
age=input("Enter your age: ")
place=input("Enter your favourite place: ")
txt = "My name is John, and I am {}"
txt1 = "I love to travel {} destination"
print(txt.format(age))
print(txt1.format(place) +"."+ " Hello world")

In [ ]:
print(bool("abc"))

In [ ]:
import sys

In [ ]:
print(sys.__doc__)

In [ ]:
c=20
c+=1

print(c)

In [ ]:
a=(1,2,3,4)
b=['Mohit', 'Raja', 'Amit']

print(f"{a=}, {b=}")

In [ ]:
shirt_size = input("Enter your shirt size: ")

if shirt_size == "l":
    print("Please go to 'Large' section")
elif shirt_size == "m":
    print("Please go to 'Medium' section")
else:
    print("No shirt for you")

In [ ]:
for subject in my_tuples:
    subject+=3
    print(subject)

In [ ]:
my_tuple = (2, 4, 6, 8)
final_number = []
for i in my_tuple:
    multi_number = i*3
    final_number.append(multi_number)

print(final_number)

In [ ]:
def age_activities(age=0):
    age = age+1
    return age
new_baby_age = 10

while new_baby_age <= 15:
    print(new_baby_age)
    new_baby_age = age_activities(new_baby_age)

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 10]
def is_even_num(l):
    enum = []
    for n in l:
        if n%2 == 0:
            enum.append(n)
        return enum

print(is_even_num(n))

In [ ]:
my_list = range(1,30):
double_result = []
for number in my_list:
    multi_number = number*2
    double_result.append(multi_number)

print(double_result)

In [ ]:
r = lambda a: a + 15
print(r(10))

In [ ]:
r = lambda x, y : x*y 
print(r(10,4))

In [12]:
starts_with = lambda x:True if x.startswith('P') else False
print(starts_with("Python"))

True

In [ ]:
pip install pandas

In [13]:
import pandas

In [58]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
even_numbers = []
for i in numbers:
    if i%2 == 0:
        even_numbers.append(i)
return even_numbers

print(even_numbers)

SyntaxError: 'return' outside function (2829268934.py, line 6)

In [40]:
def extract_even_numbers(numbers):
    even_numbers = []
    for num in numbers:
        if num % 2 == 0:
            even_numbers.append(num)
    return even_numbers
# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16, 17, 18, 19]
even_numbers = extract_even_numbers(numbers)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [46]:
even_numbers = []
for num in range(2, 21):
    if num % 2 == 0:
        even_numbers.append(num)
        
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [41]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [47]:
def extract_even_numbers(numbers):
    even_number = []
    for num in numbers:
        if num % 2 == 0:
            even_number.append(num)

    return even_number

number = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_number = extract_even_numbers(number)

print(even_number)

[2, 4, 6, 8]

In [67]:
numbers = int(input("Enter a number: "))
if numbers % 2 == 0:
    print("It is an even number")
elif numbers % 2 != 0:
    print("It is an odd number")

Enter a number:  1212122345

It is an odd number

In [84]:
x = int(input("Enter a number: "))
if 20 > x > 10:
    print("Above ten")
elif 30 > x > 20:
    print("Above twenty")
else:
    print("No result")

Enter a number:  56

No result

In [87]:
a = 33
b = 100
if b > a:
    pass

In [102]:
i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

In [1]:
i = 1
while i < 10:
    print(i)
    if i == 8:
        break

    i += 1

1
2
3
4
5
6
7
8

In [9]:
i = 0
while i < 20:
    i +=1
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [1]:
print("notebook")

notebook

In [2]:
fruits = ["banana", "Cherry", "Apple"]
for x in fruits:
    print(x)

banana
Cherry
Apple

In [3]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [12]:
fruits = ["apple", "cherry", "orange", "banana", "watermelon"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
cherry
orange
banana

In [22]:
for x in range(2, 40):
    x = x**2
    print(x)

4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521

In [36]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

if a < b:
    print("a is smaller than b")

elif a > b:
    print("a is greater than b")

else: 
    print("a is equal to b")

Enter a number:  3
Enter a number:  3

a is equal to b

In [1]:
i = 10
while i > 6:
    print(i)
    i = i-1

10
9
8
7

In [52]:
def is_even_number(num):
    even_number = []
    for x in num:
        if x%2 == 0:
            even_number.append(x)     
            
    return even_number
        
num = [1, 2, 3, 4, 5, 6, 7, 8]
even_number = is_even_number(num)
print(even_number)

[2, 4, 6, 8]

In [45]:
def print_values():
    l = list()
    for x in range(20):
        l.append(x**2)
    print(l)

   
print(print_values())

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
None

In [56]:
x = lambda a, b, c : 2*a + 3*b + c
print(x(3, 5, 6))

27

In [1]:
a=30
b=23
result = a*b
print(result)

690

In [3]:
x= float(5)
print(x)
print(type(x))

5.0
<class 'float'>

In [15]:
time_hours = float(input("Enter the time: "))
time_seconds = float(time_hours)*(3600)
print(str(time_hours)+"hrs is "+ str(time_seconds)+" seconds")

Enter the time:  5.30

5.3hrs is 19080.0 seconds

In [16]:
mixed_list = ["one", 2, "three", 4]
type(mixed_list)

list

In [18]:
eggs = 6 
bacon = 1
sausages = 4
food_count = [eggs, bacon, sausages]
print(food_count)

[6, 1, 4]

In [23]:
prime = []
num = 2

while len(prime) < 5:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0: 
            is_prime = False
            break
    if is_prime:
        prime.append(num)

    num += 1

print(prime)

[2, 3, 5, 7, 11]

In [24]:
numbers = [1, 4, 2, 6, 11, 3, 4]
total = 0

for i in numbers:
    print(i)
    total = total + i

print(total)

1
4
2
6
11
3
4
31

In [31]:
a_tuple = (1, 2, 3, 4, 10)
len(a_tuple)
max(a_tuple)

10

In [47]:
#dict1 ={ 'eggs':6 , 'bacon':1 , 'sausages':4}
values = dict1.values()

for i in values:
    print(i)

print(dict1.values())
print(dict1.keys())

6
1
4
dict_values([6, 1, 4])
dict_keys(['eggs', 'bacon', 'sausages'])

In [66]:
s = "Sammy Shark"

s[::3]

'SmSr'

In [64]:
list1 = ['A', 'B', 'C', 'D']
list1[::3]

['A', 'D']

In [70]:
x = [[1, 2, 3, 4], [5, 6, 7, 8]]

x[0] [:]

[1, 2, 3, 4]

In [73]:
l = [2,3,4,5]
l[0] = 'apple'
l[3] = 'orange'

print(l)

['apple', 3, 4, 'orange']

In [80]:
l[2:] = ['a', 'b', 'c']
print(l)

['a', 'a', 'a', 'b', 'c']

In [85]:
a = 30
b = 50
if a < b:
    c = (a + b) + 2*a*b
    print(c)

print(a,b)

3080
30 50

In [89]:
x = "Shark"
x[4:]

'k'

In [94]:
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, 'two', 3, four, list_1]
print(this_list)

['one', 'two', 3, 'four', ['a', 7]]

In [103]:
#dict1 = {'eggs':6, 'bacon':1, 'sausages':4}
dict1['milk'] = 2
print(dict1)

{'eggs': 6, 'bacon': 1, 'sausages': 4, 'milk': 2}

In [105]:
s = 'supercalifragilisticexpialidocious'

print(s[9:20])

fragilistic

In [174]:
dict1 = {1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}

print(dict1['three'][1][3])

good job!

In [191]:
x = 'reverse'
y = x[::-1]
print(y)

esrever

In [203]:
list = [1,5,2,7,5]

print(count(list))

NameError: name 'count' is not defined

In [224]:
my_dict = {"a": "Apple", "b": "Microsoft", "c": "Google"}

keys_list = (my_dict.keys())
values_list = (my_dict.values())

final_list = [keys_list, values_list]

print(final_list)

[dict_keys(['a', 'b', 'c']), dict_values(['Apple', 'Microsoft', 'Google'])]

In [232]:
def generate_square(n):
    square = [[n] * n for _ in range(n)]
    return square

n = 5
square = generate_square(n)

# Print the square
for row in square:
    print(*row)

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [241]:
my_list = ['Hello, my name is Bob.', 'I am 24 years old.', 'I live in Hong Kong.']
print(len(my_list[0]))
print(len(my_list[1]))
print(len(my_list[2]))

22
18
20

In [246]:
list1 = [1,2,3,4,5]
list2 = list1.copy()
print(list2)

[1, 2, 3, 4, 5]

In [247]:
my_list = [1,2,3]
added_to_list = [4,5,6]

my_list +=added_to_list

print(my_list)

[1, 2, 3, 4, 5, 6]

In [256]:
list1 = [1,2,3,0]
list2 = ['Red', 'Green', 'Black']
list1.extend(list2)
newlist = list1 

print(newlist)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [268]:
student = {}
name = input("Please enter your name: ")
age = input("Please enter your age: ")
uni = input("Please enter your university: ")

print("Name: " + name + ", "+ "Age: " + age + "," + " University: " + uni)

Please enter your name:  Rock
Please enter your age:  23
Please enter your university:  HKU

Name: Rock, Age: 23, University: HKU

In [281]:
color1 = ["Red", "Green", "Orange", "White"]
color2 = ["Black", "Green", "White", "Pink"]

common_color = set(color1) & set(color2)

print(common_color)

{'Green', 'White'}

In [285]:
def identify_odd(number)
x = [1,2,3,4,5,6,7,8,9]

odd_items = set(item for item in number if number.count(item) % 2 != 0))
return odd_items

SyntaxError: unmatched ')' (807085769.py, line 4)

In [306]:
full_string = "It is a far, far better thing that I do, than I have ever done; it is a far, far better rest that I go to than I have ever known."

#full_string[24:29]
full_string[-13::53]

'e'

In [307]:
input_string = "It is a far, far better thing that I do, than I have ever done; it is a far, far better rest that I go to than I have ever known."

# Remove punctuation marks
punctuation = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
no_punctuation = ''.join(char for char in input_string if char not in punctuation)

# Convert string to lowercase and split into words
words = no_punctuation.lower().split()

# Create a new string with desired words
new_string = ' '.join(word for word in words if word == 'thing' or word == 'rest')

print(new_string)

thing rest

In [318]:
a, b, c, d = [[2,3,4], [4,5,6], [10,11,12], [7,8,9]]
add_a = sum(a)
add_b = sum(b)
add_c = sum(c)
add_d = sum(d)
total = max(add_a, add_b, add_c, add_d)

print(total)
print(add_b)
print(add_c)
print(add_d)

33
15
33
24

In [330]:
lists = [[2, 3, 4], [4, 5, 6], [10, 11, 12], [7, 8, 9]]
max_sum = float('-inf')
max_list = None
for sublist in lists:
    sublist_sum = sum(sublist)
    if sublist_sum > max_sum:
        max_sum = sublist_sum
        max_list = sublist

print(max_list)

[10, 11, 12]

In [339]:
numbers = [45, 22, 14, 65, 97, 72]
for i, num in enumerate(numbers, start = 50):
    print(i, num)

50 45
51 22
52 14
53 65
54 97
55 72

In [42]:
class Dog:
    attr1 = 'animal'
    attr2 = 'dog'
    
    def fun(self):
        print("I'm an", self.attr1)

Rodger = Dog()
print(Rodger.attr1)
print(Rodger.attr2)

animal
dog

In [40]:
class GFG:
    def __init__(self, name, company):
        self.name = name
        self.company = company

    def show(self):
        print('Hello, my name is ' + str(self.name) + ' and I work in ' + str(self.company))

In [370]:
obj = GFG(name = 'John', company = 'Xccelerate')
obj.show()

Hello, my name is John and I work in Xccelerate

In [372]:
class Dog:
    animal = 'Dog'

    def __init__(self, breed, color):
        self.breed = breed
        self.color = color

Rodger = Dog('Pug', 'Brown')
Buzo = Dog('German Sh.', 'Black')

print(Rodger.animal)
print(Rodger.breed)
print(Rodger.color)

Dog
Pug
Brown

In [373]:
class Dog:
    animal = 'Dog'
    #the init method or constructor
    def __init__(self, breed):
        self.breed = breed

    #Add and instance variable
    def setColor(self, color):
        self.color = color

    #retrives instance variable
    def getColor(self):
        return self.color

#Driver code
Rodger = Dog('Pug')
Rodger.setColor('brown')
print(Rodger.getColor())

brown

In [374]:
class Bike:
    name = ' '
    gear = 0

bike1 = Bike()

#Accessing attributes and assigning new values
bike1.gear = 11
bike1.name = 'Mountain Bike'

print(f"Name : {bike1.name}, Gears : {bike1.gear}")

Name : Mountain Bike, Gears : 11

In [375]:
class Employee:
    #define attribute
    employee_id = 0

#creating two objects of emp class
employee1 = Employee()
employee2 = Employee()

#Accessing the attribute using employee1
employee1.employee_id = 1001
print(f"Employee ID : {employee1.employee_id}")

Employee ID : 1001

In [376]:
employee2.employee_id = 1002
print(f"Employee ID : {employee2.employee_id}")

Employee ID : 1002

In [380]:
class Room:
    length = 0
    breadth = 0
    #Method to claculate the are
    def area(self):
        print('Area of the room :', self.length * self.breadth)

#creating a variable of class room
study_room = Room()

#Modifying the values
study_room.length = 42
study_room.breadth = 21

#area
study_room.area()

Area of the room : 882

In [378]:
#creating a class
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

#Driver Code
School_bus = Bus('School Volovo', 180, 12)
print('Vehicle Name :', School_bus.name)
print('Speed :', School_bus.max_speed)
print('Mileage :', School_bus.mileage)

Vehicle Name : School Volovo
Speed : 180
Mileage : 12

In [395]:
import datetime

class DOG:
    def __init__(self, name, dob, breed):
        self.name = name
        self.dob = dob
        self.breed = breed

    def in_print_years(self):
        return datetime.date.today().year - self.dob

    def __str__(self):
        return f"{self.name} born in {self.dob} and he is a {self.breed}"

dog1 = DOG(name = 'Sandy', dob = 1996, breed = 'lab')
dog2 = DOG(name = 'Ronie', dob = 1989, breed = 'golden retriver')

print(dog1, "He is",dog1.in_print_years(), "years old")
print(dog2, "He is",dog2.in_print_years(), "years old")

Sandy born in 1996 and he is a lab He is 27 years old
Ronie born in 1989 and he is a golden retriver He is 34 years old

In [3]:
class MyClass:
    x = 5

p1 = MyClass()
print(p1.x)

5

In [8]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"Hi, This is {self.name}. I am {self.age} years old."
    

p1 = Person("John", 36)
p2 = Person("Rocky", 28)
p3 = Person("Sam", 34)

print(p1)
print(p2)
print(p3)

Hi, This is John. I am 36 years old.
Hi, This is Rocky. I am 28 years old.
Hi, This is Sam. I am 34 years old.

In [19]:
class Person:
    def __init__(selfie, name, age):
        selfie.name = name
        selfie.age = age

    def myfunc(selfie):
        print("Hello my name is" + selfie.name)

p1 = Person("John", 36)

p1.myfunc()

Hello my name isJohn

In [29]:
class GeekforGeeks:
    def __init__(self):
        self.geek = "GeekforGeeks"

    def print_geek(self):
        print(self.geek)

obj = GeekforGeeks()
obj.print_geek()

GeekforGeeks

In [36]:
class Addition:
    first = 0
    second = 0
    answer = 0

    def __init__(self, f, s):
        self.first = f
        self.second = s

    def calculate(self):
        self.answer = (self.first + self.second)
    
    def display(self):
        print("First number =" + str(self.first))
        print("Second number =" + str(self.second))
        print("Addition of two numbers =" + str(self.answer))


obj1 = Addition(100, 60)
obj2 = Addition(120, 80)

obj1.calculate()
obj1.display()
obj2.calculate()
obj2.display()

First number =100
Second number =60
Addition of two numbers =160
First number =120
Second number =80
Addition of two numbers =200

In [35]:
class Addition:
	first = 0
	second = 0
	answer = 0

	# parameterized constructor
	def __init__(self, f, s):
		self.first = f
		self.second = s

	def display(self):
		print("First number = " + str(self.first))
		print("Second number = " + str(self.second))
		print("Addition of two numbers = " + str(self.answer))

	def calculate(self):
		self.answer = self.first + self.second


# creating object of the class
# this will invoke parameterized constructor
obj1 = Addition(1000, 2000)

# creating second object of same class
obj2 = Addition(10, 20)

# perform Addition on obj1
obj1.calculate()

# perform Addition on obj2
obj2.calculate()

# display result of obj1
obj1.display()

# display result of obj2
obj2.display()

First number = 1000
Second number = 2000
Addition of two numbers = 3000
First number = 10
Second number = 20
Addition of two numbers = 30

In [95]:
class Dog:

    def __init__(self, breed, color):
        self.breed = breed
        self.color = color
    def getcolor(self):
        print("I have a", self.breed, "and he is", self.color, "color")

Rodger = Dog("Pug", "brown")
Rodger.getcolor()

I have a Pug and he is brown color

In [102]:
file_path = "pythonProject1.txt"
file = open(file_path, "a")
file.write("This is an additional content.")
file.close()

In [100]:
file_path = "example.bin"
data = bytes([6,7,8])
with open(file_path, "ab") as file:
    file.write(data)
    file.close()

In [ ]:
import csv
file_path = "example.csv"
data = [
    ["steve", "40", "Tokyo

In [101]:
file_path = "pythonProject1.txt"
file = open(file_path, "r")

In [2]:
print("Welcome to 'Kaun Banega Crorepati?' quiz show")
print("")
print("-"*20)

name_user = input("What is the capital of India? ")

if name_user.lower() == "new delhi":
    print("Right answer. Now moving to your next question")

else:
    print("Better luck next time")

Welcome to 'Kaun Banega Crorepati?' quiz show

--------------------

What is the capital of India?  new delhi

Right answer. Now moving to your next question

In [56]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    n = int(input().strip())
if n %2 != 0:
    print("Weird")
    
elif n in range(2,5) and n%2 ==0:
    print("Not weird")

elif n in range(6,20) and n%2 == 0:
    print("Weird")

elif n > 20 and n%2 == 0:
    print("Not Weird")

 4

Not weird

In [33]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

print(a+b)
print(a-b)
print(a*b)

 3
 5

8
-2
15

In [36]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

print(a//b)
print(a/b)

 20
 5

4
4.0

In [39]:
if __name__ == '__main__':
    n = int(input())
i = 0
while i<n:
    print(i**2)
    i+=1

 5

0
1
4
9
16

In [53]:
first_name = input("Enter your first name")
last_name = "Shark"
age = 51

print(first_name+"'s age is "+str(age)+" years old.")
print(first_name+" is a genius")

Enter your first name Tony

Tony's age is 51 years old.
Tony is a genius

In [57]:
first = input("Enter first number :")
operator = input("Enter operator (+,-,*,/,%) : ")
second = input("Enter second number : ")

if operator == "+":
    print(int(first)+int(second))

elif operator == "-":
    print(int(first)-int(second))

elif operator == "*":
    print(int(first)*int(second))    

elif operator == "/":
    print(int(first)/int(second))    

elif operator == "%":
    print(int(first)%int(second))

else:
    print("Invalid operator")

Enter first number : 4
Enter operator (+,-,*,/,%) :  +
Enter second number :  5

9

In [64]:
i = 0
while i <= 10:
    print(i) 
    i+=2

0
2
4
6
8
10

In [74]:
students = ["ram", "Shyam", "Kishan", "Radha", "Radhika"]

for i in students:
    if i == "Radha":
        break;
    print(i)

ram
Shyam
Kishan

In [81]:
marks = {"english" : 95, "chemistry" : 93}

marks["physics"] = 98

print(marks["physics"])
print(marks)

98
{'english': 95, 'chemistry': 93, 'physics': 98}

In [1]:
import math
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [16]:
from math import sqrt
print(sqrt(44))

6.6332495807108

In [33]:
def print_sum(a, b):
    print(a + b)


print_sum(3, 8)

11

In [39]:
age = 6

if age >= 18:
    print("You are an adult")
    print("You can vote")

elif 18 > age > 10:
    print("You are a child")

else:
    print("You are a kid")

print("Thank you")

You are a kid
Thank you

In [78]:
for n in range(1900, 2023):
    if n%4 == 0:
        print(str(n)+ " is a LEAP year")
    elif n%100 == 0:
        print(str(n)+" It is NOT a leap year")
    elif n%400 == 0:
        print(str(n)+" It is a leap year")
    else:
        print(str(n)+" *******")
        n += 1

1900 is a LEAP year
1901 *******
1902 *******
1903 *******
1904 is a LEAP year
1905 *******
1906 *******
1907 *******
1908 is a LEAP year
1909 *******
1910 *******
1911 *******
1912 is a LEAP year
1913 *******
1914 *******
1915 *******
1916 is a LEAP year
1917 *******
1918 *******
1919 *******
1920 is a LEAP year
1921 *******
1922 *******
1923 *******
1924 is a LEAP year
1925 *******
1926 *******
1927 *******
1928 is a LEAP year
1929 *******
1930 *******
1931 *******
1932 is a LEAP year
1933 *******
1934 *******
1935 *******
1936 is a LEAP year
1937 *******
1938 *******
1939 *******
1940 is a LEAP year
1941 *******
1942 *******
1943 *******
1944 is a LEAP year
1945 *******
1946 *******
1947 *******
1948 is a LEAP year
1949 *******
1950 *******
1951 *******
1952 is a LEAP year
1953 *******
1954 *******
1955 *******
1956 is a LEAP year
1957 *******
1958 *******
1959 *******
1960 is a LEAP year
1961 *******
1962 *******
1963 *******
1964 is a LEAP year
1965 *******
1966 *******
1967 *******
1968 is a LEAP year
1969 *******
1970 *******
1971 *******
1972 is a LEAP year
1973 *******
1974 *******
1975 *******
1976 is a LEAP year
1977 *******
1978 *******
1979 *******
1980 is a LEAP year
1981 *******
1982 *******
1983 *******
1984 is a LEAP year
1985 *******
1986 *******
1987 *******
1988 is a LEAP year
1989 *******
1990 *******
1991 *******
1992 is a LEAP year
1993 *******
1994 *******
1995 *******
1996 is a LEAP year
1997 *******
1998 *******
1999 *******
2000 is a LEAP year
2001 *******
2002 *******
2003 *******
2004 is a LEAP year
2005 *******
2006 *******
2007 *******
2008 is a LEAP year
2009 *******
2010 *******
2011 *******
2012 is a LEAP year
2013 *******
2014 *******
2015 *******
2016 is a LEAP year
2017 *******
2018 *******
2019 *******
2020 is a LEAP year
2021 *******
2022 *******

In [87]:
def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True  # Divisible by 400, it is a leap year
            else:
                return False  # Divisible by 100 but not by 400, it is not a leap year
        else:
            return True  # Divisible by 4 but not by 100, it is a leap year
    else:
        return False  # Not divisible by 4, it is not a leap year


# Example usage
for year in range(1900, 2000):
    if is_leap_year(year):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not a leap year")

1900 is not a leap year
1901 is not a leap year
1902 is not a leap year
1903 is not a leap year
1904 is a leap year
1905 is not a leap year
1906 is not a leap year
1907 is not a leap year
1908 is a leap year
1909 is not a leap year
1910 is not a leap year
1911 is not a leap year
1912 is a leap year
1913 is not a leap year
1914 is not a leap year
1915 is not a leap year
1916 is a leap year
1917 is not a leap year
1918 is not a leap year
1919 is not a leap year
1920 is a leap year
1921 is not a leap year
1922 is not a leap year
1923 is not a leap year
1924 is a leap year
1925 is not a leap year
1926 is not a leap year
1927 is not a leap year
1928 is a leap year
1929 is not a leap year
1930 is not a leap year
1931 is not a leap year
1932 is a leap year
1933 is not a leap year
1934 is not a leap year
1935 is not a leap year
1936 is a leap year
1937 is not a leap year
1938 is not a leap year
1939 is not a leap year
1940 is a leap year
1941 is not a leap year
1942 is not a leap year
1943 is not a leap year
1944 is a leap year
1945 is not a leap year
1946 is not a leap year
1947 is not a leap year
1948 is a leap year
1949 is not a leap year
1950 is not a leap year
1951 is not a leap year
1952 is a leap year
1953 is not a leap year
1954 is not a leap year
1955 is not a leap year
1956 is a leap year
1957 is not a leap year
1958 is not a leap year
1959 is not a leap year
1960 is a leap year
1961 is not a leap year
1962 is not a leap year
1963 is not a leap year
1964 is a leap year
1965 is not a leap year
1966 is not a leap year
1967 is not a leap year
1968 is a leap year
1969 is not a leap year
1970 is not a leap year
1971 is not a leap year
1972 is a leap year
1973 is not a leap year
1974 is not a leap year
1975 is not a leap year
1976 is a leap year
1977 is not a leap year
1978 is not a leap year
1979 is not a leap year
1980 is a leap year
1981 is not a leap year
1982 is not a leap year
1983 is not a leap year
1984 is a leap year
1985 is not a leap year
1986 is not a leap year
1987 is not a leap year
1988 is a leap year
1989 is not a leap year
1990 is not a leap year
1991 is not a leap year
1992 is a leap year
1993 is not a leap year
1994 is not a leap year
1995 is not a leap year
1996 is a leap year
1997 is not a leap year
1998 is not a leap year
1999 is not a leap year

In [83]:
def is_leap(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True  # Divisible by 400, it is a leap year
            else:
                return False  # Divisible by 100 but not by 400, it is not a leap year
        else:
            return True  # Divisible by 4 but not by 100, it is a leap year
    else:
        return False  # Not divisible by 4, it is not a leap year


# Example usage
year = int(input("Enter a year: "))
if is_leap(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year:  1999

1999 is not a leap year

In [90]:
def is_leap(year):
    leap = False
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True # Divisible by 400, It is a leap year
            else:
                return leap # Divisible 100 but not divisible by 400, It is not a leap year
        else: 
            return True # Divisible by 4 but not divisible by 100, It is a leap year

    else:
        return leap # Not divisible by 4, It is not a leap year

    return leap

year = int(input("Enter a year: "))
if is_leap(year):
    print(f"{year} is a leap year")

else:
    print(f"{year} is not a leap year")

Enter a year:  2023

2023 is not a leap year

In [93]:
def is_leap(year):
    leap = False
    
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True # Divisible by 400, It is a leap year
            else:
                return leap # Divisible by 100 but not divisible by 400. Not a leap year.
        else:
            return True # Divisible by 4 but not divisible by 100. leap year
    else:
        return leap # Not divisible by 4. Not a leap year                          
    
    return leap

year = int(input())
print(is_leap(year))

 2023

False

In [107]:
n = int(input())


for i in range(1,n+1):
    print(i)
    i +=1

 10

1
2
3
4
5
6
7
8
9
10

In [110]:
n = int(input())

# Create a list of integers from 1 to n
numbers = list(range(1, n+1))

# Convert the list to a string without spaces
result = ''.join(str(num) for num in numbers)

print(result)

 12

123456789101112

In [26]:
import os

def display_menu():
    print("Welcome to 'Treasure of Books' library")
    print("")
    print("1. Add a book")
    print("2. Modify quantity")
    print("3. Delete a book")
    print("4. Show remaining books")
    print("5. Exit")

def add_book():
    book_name = input("Enter the name of the book: ")
    quantity = input("Enter the quantity: ")

    with open("library.txt", "a") as file:
        file.write(f"{book_name},{quantity}\n")

    print("Book added successfully!")
    print("(*_*) " * 10)
    print("")
    

def modify_quantity():
    book_name = input("Enter the name of the book: ")
    new_quantity = input("Enter the new quantity: ")
    

    temp_file = open("temp.txt", "w")

    with open("library.txt", "r") as file:
        lines = file.readlines()
        for line in lines:
            name, quantity = line.strip().split(",")
            current_quantity = int(quantity) + new_quantity
    
    for line in lines:
            name, quantity = line.strip().split(",")
            if name.lower() == book_name.lower():
                temp_file.write(f"{name},{current_quantity}\n")
                print("Quantity modified successfully!")
                print("-_-" * 10)
                print("")
            else:
                temp_file.write(line)

    temp_file.close()
    os.remove("library.txt")
    os.rename("temp.txt", "library.txt")


def delete_book():
    book_name = input("Enter the name of the book: ")

    temp_file = open("temp.txt", "w")

    with open("library.txt", "r") as file:
        lines = file.readlines()

        for line in lines:
            name, quantity = line.strip().split(",")
            if name.lower() != book_name.lower():
                temp_file.write(line)
            else:
                print("Book deleted successfully!")
                print("")

    temp_file.close()
    os.remove("library.txt")
    os.rename("temp.txt", "library.txt")

def show_status():
    print("Remaining Books:")

    with open("library.txt", "r") as file:
        lines = file.readlines()

        for line in lines:
            name, quantity = line.strip().split(",")
            print(f"{name}: {quantity}")
            print("")

def main():
    while True:
        display_menu()
        choice = input("Enter your choice (1-5): ")

        if choice == "1":
            add_book()
        elif choice == "2":
            modify_quantity()
        elif choice == "3":
            delete_book()
        elif choice == "4":
            show_status()
        elif choice == "5":
            print("...")
            print("Thank you.")
            break
        else:
            print("Invalid choice. Please try again.")

if __name__ == "__main__":
    main()

Welcome to 'Treasure of Books' library

1. Add a book
2. Modify quantity
3. Delete a book
4. Show remaining books
5. Exit

Enter your choice (1-5):  5

...
Thank you.

In [30]:
print("-_- "*10)

-_- -_- -_- -_- -_- -_- -_- -_- -_- -_-